/* @media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
} */
@media (max-width: 1200px) {
  .about-bg img[alt="ABIMG3"],
  .about-bg img[alt="ABIMG4"] {
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .about-bg img[alt="ABIMG2"] {
    width: 415px;
  }
  .about-bg img[alt="ABIMG3"],
  .about-bg img[alt="ABIMG4"] {
    width: 215px;
  }
  .explore-bg img{
    width: 55%;
  }
  .friend-text {
    width: 361px;
    top: 315px;
    right: 0;
  }
  .nearby-text {
    left: 45px;
    bottom: 135px;
    width: 430px;
  }
  .feature-text {
    top: 205px;
    width: 390px;
    left: 50px;
  }
  .disc-text h5 {
    padding: 0 160px;
  }
}
@media (max-width: 830px) {
  .about-bg {
    background-position-y: 115px;
  }
  .about-bg p {
    padding: 0;
  }
  .explore-bg img{
    width: 70%;
  }
  .nearby-text {
    bottom: 139px;
    width: 286px;
    left: 17px;
  }
  .feature-text {
    top: 156px;
    width: 293px;
    left: 18px;
  }
  .friend-text {
    width: 241px;
    top: 242px;
  }
  .disc-text h5 {
    padding: 0 70px;
  }
  .start-bg img {
    width: 130px;
  }
}
/* @media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
} */

@media (max-width: 768px) {
  .about-bg img[alt="ABIMG2"] {
    width: 365px;
  }
  .about-bg img[alt="ABIMG3"],
  .about-bg img[alt="ABIMG4"] {
    width: 186px;
  }
  .explore-bg img{
    width: 80%;
  }
  .feature-text {
    width: 260px;
    top: 86px;
  }
  .explore-bg .position-relative {
    padding-top: 6px !important;
  }
  .nearby-text {
    bottom: 140px;
    width: 250px;
  }
  .friend-text {
    width: 224px;
    top: 189px;
  }
  .explore-bg h1 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .contact {
    background-image: none;
  }
  .about-bg {
    background-image: none;
  }
  .contact h1,
  .contact p {
    text-align: center;
  }
}
/* @media (min-width: 576px) {
  .container {
    max-width: 665px;
  }
} */
@media (max-width: 640px) {
  .explore-bg img{
    width: 90%;
  }
  .feature-text p,
  .nearby-text p,
  .friend-text p {
    font-size: 14px;
  }
  .feature-text h5,
  .nearby-text h5,
  .friend-text h5 {
    font-size: 17px;
  }
  .nearby-text {
    width: 220px;
    bottom: 130px;
  }
  .feature-text {
    width: 225px;
    top: 101px;
  }
  .friend-text {
    width: 174px;
    top: 179px;
  }
  .start-bg img {
    width: 100px;
  }
}

@media (max-width: 550px) {
  .disc-text h5 {
    padding: 0 20px;
  }
  .start-bg img {
    width: 100px;
  }
  .start-bg h3,
  .start-bg h5 {
    font-size: 20px;
  }
  .marg-img {
    margin-top: 50px;
  }
  .feature-text p,
  .nearby-text p,
  .friend-text p {
    font-size: 12px;
  }
  .feature-text h5,
  .nearby-text h5,
  .friend-text h5 {
    font-size: 13px;
  }
  .explore-bg img{
    width: 100%;
  }
  .nearby-text {
    width: 190px;
    bottom: 126px;
    left: 6px;
  }
  .feature-text {
    left: 7px;
    width: 185px;
    top: 117px;
  }
  .friend-text {
    width: 152px;
    top: 202px;
  }
}
@media (max-width: 420px) {
  .start-bg img {
    width: 75px;
  }
  .start-bg h3,
  .start-bg h5 {
    font-size: 15px;
  }
  .start-bg p {
    font-size: 12px;
  }
  .feature-text p,
  .nearby-text p,
  .friend-text p {
    font-size: 9px;
  }
  .feature-text h5,
  .nearby-text h5,
  .friend-text h5 {
    font-size: 10px;
  }
  .nearby-text {
    width: 163px;
    bottom: 98px;
  }
  .feature-text {
    width: 163px;
    top: 133px;
  }
  .friend-text {
    width: 124px;
  }
}
@media (max-width: 320px) {
  .disc-text h5 {
    padding: 0 0;
  }
  .start-bg img {
    width: 55px;
  }
  .start-bg h3,
  .start-bg h5 {
    font-size: 12px;
  }
  .start-bg p {
    font-size: 10px;
  }
  .explore-bg h1 {
    font-size: 20px;
  }
  .feature-text p,
  .nearby-text p,
  .friend-text p {
    font-size: 7px;
  }
  .feature-text h5,
  .nearby-text h5,
  .friend-text h5 {
    font-size: 8px;
  }
  .nearby-text {
    width: 116px;
    bottom: 85px;
  }
  .feature-text {
    width: 116px;
    top: 139px;
  }
  .friend-text {
    width: 95px;
    top: 176px;
  }
}
