/* @media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
} */
@media (max-width: 1200px) {
  .about-bg img[alt="ABIMG3"],
  .about-bg img[alt="ABIMG4"] {
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .about-bg img[alt="ABIMG2"] {
    width: 415px;
  }
  .about-bg img[alt="ABIMG3"],
  .about-bg img[alt="ABIMG4"] {
    width: 215px;
  }
  .friend-text {
    width: 260px;
    top: 414px;
  }
  .nearby-text {
    bottom: 224px;
    width: 365px;
  }
  .feature-text {
    top: 280px;
    width: 335px;
  }
  .disc-text h5 {
    padding: 0 160px;
  }
}
@media (max-width: 830px) {
  .about-bg {
    background-position-y: 115px;
  }
  .about-bg p {
    padding: 0;
  }
  .nearby-text {
    bottom: 172px;
    width: 254px;
  }
  .feature-text {
    top: 190px;
    width: 264px;
  }
  .friend-text {
    width: 208px;
    top: 299px;
  }
  .disc-text h5 {
    padding: 0 70px;
  }
  .start-bg img {
    width: 130px;
  }
}
/* @media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
} */

@media (max-width: 768px) {
  .about-bg img[alt="ABIMG2"] {
    width: 365px;
  }
  .about-bg img[alt="ABIMG3"],
  .about-bg img[alt="ABIMG4"] {
    width: 186px;
  }
  .feature-text {
    width: 245px;
    top: 110px;
  }
  .explore-bg .position-relative {
    padding-top: 6px !important;
  }
  .nearby-text {
    left: 14px;
    width: 250px;
  }
  .friend-text {
    width: 206px;
    top: 227px;
  }
  .explore-bg h1 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .contact {
    background-image: none;
  }
  .about-bg {
    background-image: none;
  }
  .contact h1,
  .contact p {
    text-align: center;
  }
}
/* @media (min-width: 576px) {
  .container {
    max-width: 665px;
  }
} */
@media (max-width: 640px) {
  .feature-text p,
  .nearby-text p,
  .friend-text p {
    font-size: 14px;
  }
  .feature-text h5,
  .nearby-text h5,
  .friend-text h5 {
    font-size: 17px;
  }
  .nearby-text {
    width: 220px;
    bottom: 146px;
  }
  .feature-text {
    width: 211px;
    top: 94px;
  }
  .friend-text {
    width: 174px;
    top: 179px;
  }
  .start-bg img {
    width: 100px;
  }
}

@media (max-width: 550px) {
  .disc-text h5 {
    padding: 0 20px;
  }
  .start-bg img {
    width: 100px;
  }
  .start-bg h3,
  .start-bg h5 {
    font-size: 20px;
  }
  .marg-img {
    margin-top: 50px;
  }
  .feature-text p,
  .nearby-text p,
  .friend-text p {
    font-size: 12px;
  }
  .feature-text h5,
  .nearby-text h5,
  .friend-text h5 {
    font-size: 13px;
  }
  .nearby-text {
    width: 190px;
    bottom: 123px;
  }
  .feature-text {
    width: 195px;
    top: 117px;
  }
  .friend-text {
    width: 153px;
    top: 190px;
  }
}
@media (max-width: 420px) {
  .start-bg img {
    width: 75px;
  }
  .start-bg h3,
  .start-bg h5 {
    font-size: 15px;
  }
  .start-bg p {
    font-size: 12px;
  }
  .feature-text p,
  .nearby-text p,
  .friend-text p {
    font-size: 10px;
  }
  .feature-text h5,
  .nearby-text h5,
  .friend-text h5 {
    font-size: 11px;
  }
  .nearby-text {
    width: 163px;
    bottom: 98px;
  }
  .feature-text {
    width: 163px;
    top: 133px;
  }
  .friend-text {
    width: 124px;
  }
}
@media (max-width: 320px) {
  .disc-text h5 {
    padding: 0 0;
  }
  .start-bg img {
    width: 55px;
  }
  .start-bg h3,
  .start-bg h5 {
    font-size: 12px;
  }
  .start-bg p {
    font-size: 10px;
  }
  .explore-bg h1 {
    font-size: 20px;
  }
  .feature-text p,
  .nearby-text p,
  .friend-text p {
    font-size: 9px;
  }
  .feature-text h5,
  .nearby-text h5,
  .friend-text h5 {
    font-size: 10px;
  }
  .nearby-text {
    width: 150px;
    bottom: 63px;
  }
  .feature-text {
    width: 144px;
    top: 110px;
  }
  .friend-text {
    width: 95px;
    top: 137px;
  }
}
